<!--
  Generated template for the IndexPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-side-menus>
  <ion-side-menu side="left">
    <button ion-button>left</button>
  </ion-side-menu>
</ion-side-menus>-->

<ion-header style="background: #fff;opacity:.8;" ng-controller="ContentController">
  
  <ion-grid>
    <ion-row align-items-center style="color:#ccc;height:30px">
      <ion-col col-2 style="text-align:center" side="left" >
        <button ion-button clear style="padding:0" menuToggle>
          <ion-icon style="font-size:2.1em;color:#ccc" name="menu"></ion-icon>
        </button>
      </ion-col >
      <ion-col col-8 style="font-family:STCaiyun;text-align:center;">
        <img src="assets/img/navlogo.jpg" style="width:35%" alt="">
      </ion-col>
      <ion-col col-2 style="text-align:center">
        <button ion-button clear style="padding:0" [navPush]="tabSearch">
        <ion-icon style="font-size:2.1em;color:#ccc" name="search"></ion-icon>
        </button>
      </ion-col>      
    </ion-row>
  </ion-grid>

</ion-header>

<ion-content padding style="background:#F2EAEA">
  <!--轮播图  小圆点pager--> 
  <ion-slides style="height:auto;" *ngIf="slider.length>0" pager autoplay=2000 
  speed=1000  loop=true>
    <ion-slide  *ngFor="let item of slider">
      <img [src]="'assets/'+item.img" alt="">  
    </ion-slide>
  </ion-slides>
  <!--小图标-->
  <div id="little-icon">
    <ion-row class="nav" style="width:100%;background:#fff;display:flex;justify-content:center">
      <ion-col >
        <img src="assets/img/small/1.png" alt="">
        <div class="font-1">西式餐点</div>
      </ion-col>
      <ion-col>
        <img src="assets/img/small/2.png" alt="">
        <div class="font-1">精品主食</div>        
      </ion-col>
      <ion-col>
        <img src="assets/img/small/3.png" alt="">
        <div class="font-1">营养早餐</div>
      </ion-col>
      <ion-col>
        <img src="assets/img/small/4.png" alt="">
        <div class="font-1">休闲食物</div>
      </ion-col>
      <ion-col>
        <img src="assets/img/small/5.png" alt="">
        <div class="font-1">蛋糕甜点</div>
      </ion-col>
    </ion-row>
    <ion-row class="nav" style="width:100%;background:#fff;display:flex;justify-content:center">
      <ion-col>
        <img src="assets/img/small/6.png" alt="">
        <div class="font-1">清凉饮品</div>
      </ion-col>
      <ion-col>
        <img src="assets/img/small/7.png" alt="">
        <div class="font-1">生鲜水果</div>
      </ion-col>
      <ion-col>
        <img src="assets/img/small/8.png" alt="">
        <div class="font-1">肉类禽类</div>
      </ion-col>
      <ion-col>
        <img src="assets/img/small/9.png" alt="">
        <div class="font-1">小吃快餐</div>
      </ion-col>
      <ion-col>
        <img src="assets/img/small/10.png" alt="">
        <div class="font-1">全部分类</div>
      </ion-col>
    </ion-row>
  </div>
  <!--新品上架-->
  <ion-row  class="new-arrival">
    <img src="assets/img/new-bg.png" alt="">
    <div class="box">
      <h6>新品上架</h6>
      <p>NEW ARRIVAL</p>
    </div>
  </ion-row>

  <ion-row class="new-products" >
    <ion-col [navPush]="detailPage"  [navParams]="{id:item.pid}"
     *ngFor="let item of f_2" col-6>
      <div class="box">
        <a href="#" ><img [src]="'assets/'+item.img1" [alt]="item.title"></a>
        <p>{{item.title}}</p>
        <span>￥{{item.price}}</span>
      </div>
    </ion-col>
  </ion-row>

  <div class="passion" style="background:#fff;width:100%;overflow:hidden">
    <div class="fl" style="width:50%" >
      <h5 style="color:#799524">百香果</h5>
      <i style="color:#799524">Passion fruit</i>
      <p>水果中的维生素之王</p>
      <img style="width:90%" src="assets/img/s_w600h600_112.png" alt="">
    </div>
    <div class="fr" style="width:50%">
      <div class="passion-r" style="border-bottom:1px solid #ccc">
        <div class="box">
          <h6 style="color:#ff6600;font-size:14px;">面条 noodles</h6>
          <p style="position:absolute;left:-10px;">体验面条的各种吃法</p>
        </div>
          <img  src="assets/img/mmexport1511669800235.jpeg" alt="">
      </div>
      <div class="passion-r">
        <div class="box" style="left:77px;top:25px;">
          <h6 style="color:red;font-size:14px;">新鲜果蔬</h6>
          <p>极速送达</p>
        </div>
          <img src="assets/img/mmexport1511669803688.jpeg" alt="">
      </div>
    </div>
  </div>
  <!--分类推荐-->
  <ion-row style="margin-left:-68.5px"  class="new-arrival">
    <img src="assets/img/new-bg.png" alt="">
    <div class="box">
      <h6>分类推荐</h6>
      <p>CATEGORY RECOMMAND</p>
    </div>
  </ion-row>
  
  <ion-row style="background:#fff;margin-bottom:3px;">
    <ion-col col-4 style="text-align:center">蛋糕甜点</ion-col>
    <ion-col col-4 style="border-left:1px solid #ccc;text-align:center;">有机食品</ion-col>
    <ion-col col-4 style="border-left:1px solid #ccc;text-align:center;">新鲜果蔬</ion-col>
  </ion-row>
  <ion-row class="new-products"  text-wrap>
    <ion-col [navPush]="detailPage"  [navParams]="{id:item.pid}" 
    *ngFor="let item of f_1"  col-6>
      <div class="box">
        <a href="#"><img [src]="'assets/'+item.img1" [alt]="item.title"></a>
        <p>{{item.title}}</p>
        <span>￥{{item.price}}</span>
      </div>
    </ion-col>
  </ion-row>
  <ion-row style="margin:6px 0;">
    <img style="width:100%;height:100%;" src="assets/img/mmexport1511671365470.jpeg" alt="">
  </ion-row>
  <!--水果-->
  <ion-row class="new-products" >
    <ion-col [navPush]="detailPage" [navParams]="{id:item.pid}" 
     *ngFor="let item of f_3" col-6>
      <div class="box">
        <a href="#"><img [src]="'assets/'+item.img1" [alt]="item.title"></a>
        <p>{{item.title}}</p>
        <span>￥{{item.price}}</span>
      </div>
    </ion-col>
  </ion-row>
  <div class="footer">
    <ul style="display:flex;justify-content:center;padding:0;width:100%" class="list-ul">
      <li><a href="#">关于我们</a></li>
      <li><a href="#">联系我们</a></li>
      <li><a href="#">个人中心</a></li>
      <li><a href="#">所有商品</a></li>
    </ul>
    <p>Copyright © 2017 - All rights reserved. Pwered By</p>
  </div>
  <br><br><br><br>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <button icon-button style="color:#ff6600">
          <ion-icon name="ios-home"></ion-icon>
          <p>首页</p>
        </button>
      </ion-col>
      <ion-col col-3>
        <button icon-button [navPush]="tabProducts">
          <ion-icon name="ios-keypad"></ion-icon>
          <p>商品</p>
        </button>
      </ion-col>
      <ion-col col-3>
        <button icon-button [navPush]="tabCart">
          <ion-icon name="ios-cart"></ion-icon>
          <p>购物车</p>
        </button>
      </ion-col>
      <ion-col col-3>
        <button icon-button [navPush]="tabUserCenter">
          <ion-icon name="ios-person"></ion-icon>
          <p>用户</p>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
