page-products {
// 头部按钮
.top-btn{
    background: rgba(255,255,255, .8);
}
.top-btn button{
    background: none;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
    color:#777;
    padding:4px 6px;
    border-radius: 3px;
}
.new-products>.col>.box{
    background: #fff;
    width:100%;
    padding:0 5px;
}
.new-products>.col{
    padding:3px;
}
.new-products>.col:nth-child(2n-1){
    padding-left:0;
}
.new-products>.col:nth-child(2n){
    padding-right:0;
}
.new-products>.col>.box>p{
    height:32px;
    overflow: hidden;
    margin-bottom: 5px;
}
.new-products>.col>.box>span{
    display: block;
    color:#F03E00;
    padding-bottom:5px;
}
.footer{
    padding:0;
    background: #F2EAEA;
}
.footer ion-col{
    text-align: center;
}
.footer button{
    font-size: 24px;
    color:#777;
    background: none;
    
}
}
